*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #33004df9 0%, #33004df9 100%);
    min-height: 100vh;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background: whitesmoke;
    border-radius: 0px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    overflow: hidden;
}
header {
    background: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}
.controls {
    padding: 20px;
    background: #ecf0f1;
    border-bottom: 1px solid #bdc3c7;
}
.sort-controls {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}


.lessons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
}
.lesson-card {
    border: 1px solid #e1ebed;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.lesson-icon img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}